@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #e8e9eb;
}

.container {
  height: auto;
  width: 375px;
  margin: auto;
}

h1 {
  margin-top: 20px;
  text-align: center;
}

input {
  margin-top: 20px;
  padding-left: 10px;
  height: 50px;
  width: 100%;
  font-size: 20px;
  transition: 0.1s ease;
}

input:focus {
  outline: none;
}

.submitButton {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #818181;
  color: #efefef;
}

form p {
  margin-top: 10px;
  color: #ee4141;
}

ul {
  margin-top: 20px;
  list-style-type: none;
}

li {
  background-color: #efefef;
  border-left: 5px solid green;
  border-top: 1px solid #e5e5e5;
  margin-top: 2px;
  height: 50px;
  text-indent: 10px;
  padding-top: 10px;
  font-size: 20px;
  cursor: pointer;
}

li i {
  color: #ee4141;
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
}
